{% trans with { '%username%' : app.user.username, '%message_subject%' : message.subject, '%answer%' : answer.content } %}fulgurio.socialnetwork.messenger.email.answer.html{% endtrans %}
<br />
<p>{{ answer.content|nl2br }}</p>