{% extends 'FulgurioSocialNetworkBundle:Mail:base.html.twig' %}

{% block subject %}
{% trans with { '%username%' : app.user.username } from 'messenger' %}fulgurio.socialnetwork.email.message.html{% endtrans %}
{% endblock %}

{% block content %}
{% trans with { '%username%' : app.user.username|escape } from 'messenger' %}fulgurio.socialnetwork.email.message.html{% endtrans %}
<br />
{{ message.subject }}<br />
<p>{{ message.content|raw }}</p>
{% endblock %}