{% trans with { '%username%' : user.username|escape } from 'friendship' %}fulgurio.socialnetwork.accept.email.html.msg1{% endtrans %}
<br />
<p>{% trans with { '%current_username%' : app.user.username|escape } from 'friendship' %}fulgurio.socialnetwork.accept.email.html.msg2{% endtrans %}</p>
