{% extends 'FulgurioSocialNetworkBundle:Mail:base.html.twig' %}

{% block subject %}
{% trans with { '%current_username%' : app.user.username, '%username%' : user.username } from 'friendship' %}fulgurio.socialnetwork.remove.email.subject{% endtrans %}
{% endblock %}

{% block content %}
{% trans with { '%username%' : user.username|escape } from 'friendship' %}fulgurio.socialnetwork.remove.email.html.msg1{% endtrans %}
<br />
<p>{% trans with { '%current_username%' : app.user.username|escape } from 'friendship' %}fulgurio.socialnetwork.remove.email.html.msg2{% endtrans %}</p>
{% endblock %}