{% extends 'FulgurioSocialNetworkBundle::base.html.twig' %}

{% block title %}{% trans from 'messenger-list' %}fulgurio.socialnetwork.title{% endtrans %}{% endblock %}

{% block content %}
<h1>{% trans from 'messenger-list' %}fulgurio.socialnetwork.legend{% endtrans %}</h1>
<div class="row-fluid messenger">
	<a href="{{ path('fulgurio_social_network_messenger_list_add') }}" class="btn btn-primary">{% trans from 'messenger-list' %}fulgurio.socialnetwork.new_message_list_button{% endtrans %}</a>
{%   if groups %}
	<ol class="messengerListsList">
{%     for groupNb, group in groups %}
		<li class="clear">
				{{ group.name }}
				<a href="{{ path('fulgurio_social_network_messenger_list_remove', { groupId: group.id }) }}" class="pull-right btn" title="{% trans from 'messenger-list' %}fulgurio.socialnetwork.remove_button{% endtrans %}"><i class="icon-trash"></i></a>
				<a href="{{ path('fulgurio_social_network_messenger_list_edit', { groupId: group.id }) }}" class="pull-right btn" title="{% trans from 'messenger-list' %}fulgurio.socialnetwork.edit_button{% endtrans %}"><i class="icon-pencil"></i></a>
		</li>
{%     endfor %}
	</ol>
{%   else %}
	<p>{% trans from 'messenger-list' %}fulgurio.socialnetwork.no_message_list{% endtrans %}</p>
{%   endif %}
</div>
{% endblock %}
