<form action="{{ action }}" method="post">
	<p>{{ confirmationMessage }}</p>
	<p>
{% if url_referer is defined %}
		<input type="hidden" name="referer" value="{{ url_referer }}" />
{% endif %}
		<button type="submit" name="confirm" class="btn btn-primary btn-large" value="yes">{% trans from 'admin' %}fulgurio.socialnetwork.yes{% endtrans %}</button>
{% if url_referer is defined and url_referer %}
		<a href="{{ url_referer }}" class="btn btn-large popupClose">{% trans from 'admin' %}fulgurio.socialnetwork.no{% endtrans %}</a>
{% else %}
		<button type="submit" name="confirm" class="btn btn-large popupClose" value="no">{% trans from 'admin' %}fulgurio.socialnetwork.no{% endtrans %}</button>
{% endif %}
	</p>
</form>
{% if app.request.isXmlHttpRequest %}
<script>
$('.popupClose').click(function(e) {
	$('#myModal').modal('hide');
	e.preventDefault();
});
</script>
{% endif %}