{% extends 'FulgurioSocialNetworkBundle::base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}fulgurio.socialnetwork.lost_password.title{% endtrans %}{% endblock %}

{% block content %}
<form action="{{ path('fos_user_resetting_send_email') }}" method="post" class="form-inline">
	<fieldset>
		<legend>{% trans %}fulgurio.socialnetwork.lost_password.legend{% endtrans %}</legend>
{% if invalid_username is defined %}
		<div class="alert alert-error">{% trans with {'%username%': invalid_username|escape} %}fulgurio.socialnetwork.lost_password.email_not_found{% endtrans %}</div>
{% endif %}
		<label class="control-label" for="username">{% trans %}fulgurio.socialnetwork.lost_password.email_label{% endtrans %}:</label>
		<input type="email" id="username" name="username" />
		<button type="submit" class="btn btn-primary">{% trans %}fulgurio.socialnetwork.lost_password.submit{% endtrans %}</button>
	</fieldset>
</form>
{% endblock %}