<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block subject %}{{ subject }}{% endblock %}</title>
		<style media="all" type="text/css">
	</style>
</head>
<body>
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tr>
			<td bgcolor="#FFFFFF" align="center">
				<table width="650px" cellspacing="0" cellpadding="3" class="container">
					<tr>
						<td>{% block content %}{{ content }}{% endblock %}</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
</body>