{# Homepage #}
{% extends 'FulgurioSocialNetworkBundle::base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}fulgurio.socialnetwork.homepage{% endtrans %}{% endblock %}

{% block content %}
	<h1>{% trans %}fulgurio.socialnetwork.homepage{% endtrans %}</h1>
{% endblock %}