body {
	margin: 15px 0 0 0;
}
.clear {
	clear: both;
}
.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-inline .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
	background: #FFF;
}
#connect {
	position: relative;
}
#connect form {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 15px;
	border: 1px solid #000;
	background: #FFF;
	width: 310px;
}
#connect form div.clearfix {
	margin: 5px 0 0 0;
	text-align: right;
}
#connect form a {
	line-height: 24px;
	padding: 4px 0 0 0;
}

/** Profile form **/
form.profile-form .thumbnail {
	width: 50px;
	height: 50px;
}