/* Friendship */
.friends ol,
.friends .invit_from {
	list-style: none;
	padding: 0;
	margin: 0 0 15px 0;
}
.friends ol li,
.friends .invit_from li {
	display: inline-block;
	width: 80px;
}
.friends ol li {
	border: 1px solid #CCC;
	width: 180px;
	background: #FFF;
	padding: 3px;
	margin: 0 0 10px 0;
}
.friends ol.addFriendsList li label {
	display: block;
	cursor: pointer;
	margin: 0;
}
.friends ol.addFriendsList li.selected {
	background: #08C;
}
.friends ol.addFriendsList li.selected label {
	color: #FFF;
	font-weight: bold;
}
.friends ol.addFriendsList li input {
	display: none;
}
.friends ol.askingFriends li,
.friends ol.addFriendsList li,
.friends ol.myFriends li {
	position: relative;
}
.friends ol.askingFriends div,
.friends ol li.status_pending span {
	position: absolute;
	bottom: 3px;
	right: 3px;
}
.friends ol li.status_pending span {
	color: #FFF;
	background: #FAA732;
	padding: 0 3px;
	font-size: 0.8em;
}
.friends ol img {
	margin: 0 10px 0 0;
}
